/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.edit{
    width : 235px;
    height: 30px;
}
.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.settings-icon {
    width: 28px;
    height: auto;
}


.profile-stats li {
  display: inline-block;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}


.profile-bio {
  line-height: 1.5;
  margin-top: 2.3rem;
}

.gallery-button{
    width: 50px;
    height: 50px;
    
}
.img-gallery{
}
