#navcontent1 {
  width: 175px;
}


.upnavimg2 {
  width: 50px;
  height: 20px;
}

.upnavimg1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;

}

.downnavimg1,
.downnavimg2,
.downnavimg3,
.downnavimg4 {
  width: 50px;
  height: 30px;

}

.dropdown-toggle {
  list-style-type: none;
}

.dropdown-menu {
  float: left;
}

.card,
.card-header,
.card-footer {
  border: none;
}

.imgmain {
  height: 100%;
  width: 100%;
}

#views {}

#profilename {}

#posttags {}

#commentcount {
  font-size: 14px;
}

#time {
  font-size: 12px;
}

p {
  margin-bottom: 0px;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
}
.dropdown-menu{
  transform: translate3d(-109px, 24px, 0px);
}
