img{
    display: inline-block;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.stories::-webkit-scrollbar{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 0 !important
}
.stories{
    overflow-x: scroll;
}
