img{
    display: inline-block;
    width: 100px;
    height: 60px;
}
.stories::-webkit-scrollbar{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 0 !important
}
.stories{
    overflow-x: scroll;
}
